h1 {
    color:#b00000;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    color:#b00000;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}
p{
    font-family: 'Lato', sans-serif;
}
ul{
    font-family: 'Lato', sans-serif;
}
a:link {color:#00daee;}
body{
    background:#ffffff;
    color:#1b0000;
    cursor: none;
    margin: 30px;
}
nav a{
    color:#0000EE;
    transition-duration: 300ms;
}
nav a:hover{
    color:#551A8B;
    cursor: none;
}
nav{
    background:linear-gradient(
        #742323,
        #85244e);
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}
div{
    font-family: 'Lato', sans-serif;
}
.center{
    text-align: center;
}
.centered-list{
    display: inline-block;
    text-align: left;
}
.taskbar{
    display: flex;
    justify-content: flex-end;
}
img{
    max-width: 100%;
    max-height: 100%;
}
#truck{
    display: block;
    margin: 0 auto;
    width: 700px;
}
.imborder{
    padding: 10px;
    background: conic-gradient(
        from var(--gradient-angle),
        #541263,
        #2c4494,
        #bc2a67,
        #2c4494,
        #541263);
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col1{
    flex-direction: column;
    flex-basis: 60%;
    flex: 1;
}
.col2{
    flex-direction: column;
    flex-basis: 40%;
}
.box{
    flex-direction: column;
    margin: 20px;
}
@media only screen and (max-width:800px){
    .taskbar{display: block}
    .contacts{display: block}
    body{
        margin: 20px;
    }
    .imborder{
        padding: 5px;
    }
    .col1{
        margin-right: 20px;
    }
}
.skip{
    background-color: black;
    padding: 5px;
    border: 1px solid #000000;
    text-decoration: none;
    position: absolute;
    top: 30px;
    left: -999px;
}
.skip:focus{
    left: 10px;
}