h1 {
    color:#b00000;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    color:#b00000;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}
p{
    font-family: 'Lato', sans-serif;
}
ul{
    font-family: 'Lato', sans-serif;
}
body{
    background:#ffffff;
    color:#1b0000;
    margin: 40px;
}
a{
    color:#0000EE;
    transition-duration: 300ms;
}
a:hover{
    color:#551A8B;
}
nav{
    background:linear-gradient(
        #742323,
        #85244e);
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}
.center{
    text-align: center;
}
.centered-list{
    display: inline-block;
    text-align: left;
}
.taskbar{
    display: flex;
    justify-content: flex-end;
}
img{
    max-width: 100%;
    max-height: 100%;
}
#logo{
    display: block;
    margin: auto;
    width: 400px;
}
#patient{
    margin-top: 50px;
    float: right;
    width: 600px;
}
#boosting{
    margin-top: 50px;
    float: left;
    width: 600px;
}
.imborder{
    padding: 10px;
    background: conic-gradient(
        from var(--gradient-angle),
        #d72d271d,
        #df705f4e,
        #d72d271d,
        #df705f4e,
        #d72d271d,
        #df705f4e,
        #d72d271d);
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col1{
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
}
.col2{
    flex-direction: column;
    flex-basis: 50%;
}
@media only screen and (max-width:800px){
    .taskbar{display: block}
    .contacts{display: block}
    body{
        margin: 20px;
    }
    .imborder{
        padding: 5px;
    }
}
.skip{
    background-color: black;
    padding: 5px;
    border: 1px solid #000000;
    text-decoration: none;
    position: absolute;
    top: 30px;
    left: -999px;
}
.skip:focus{
    left: 10px;
}